body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-image: url("BackgroundIMG.jpg");
    background-size: cover;
}

.weather-container {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    box-sizing: border-box;
    color: #f0f8ff; 
    background: rgba(255, 255, 255, 0.1);                                                  /* Transparent white */
    border-radius: 20px;
    backdrop-filter: blur(10px);                                                           /* Glass blur effect */
    border: 1px solid rgba(255, 255, 255, 0.2);                                         /* Soft border */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);                                         /* Depth shadow */
}

.weather-container h1 {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#weather-display {
    display: flex;
    justify-content: center;
}

 input::placeholder {
    color: #fff;
    opacity: 1; 
  }


#weather-input {
    width: 80%;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    background: transparent !important;
    backdrop-filter: blur(10px);
    color: white;
    border: transparent;
    border-radius: 8px;
}

/* When autofill is applied */
/* Removes Chrome’s yellow autofill background by covering it with a transparent layer inside the input. */

#weather-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* When autofill + focus */
/* Makes the autofilled text color white */

#weather-input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
}

.weather-fetch {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
}

#weather-btn {
    height: 48px;
    width: 140px;
    color: #fff;
    background-color: #007afe;
    font-size: 18px;
    font-weight: 700;
    margin-top: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

.weather-result {
    text-align: center;
    padding: 10px 40px;
    border-radius: 10px;
}

.weather-result p {
    margin: 10px 0;
    font-size: 18px;
}


/* Mobile screens */
@media (max-width: 600px) {
    body {
        background-size: cover;
        padding: 10px;
    }

    .weather-container {
        width: 100%;
        max-width: 100%;
        margin: 10px;
        font-size: 14px;
    }

    input, button {
        width: 100%;
        margin-top: 8px;
    }
}

/* Tablet screens */
@media (min-width: 601px) and (max-width: 900px) {
    .weather-container {
        width: 80%;
        max-width: 600px;
    }

    input, button {
        font-size: 16px;
    }
}
